section #main .pz_center > .item {
  width: 60%!important;
  background: #fff;
  padding: 2em;
}
section #main .pz_center {
  padding-top: 2em;
}
section #main .pz_center .evaluate li {
  border-radius: none;
  overflow-x: auto;
}
section #main .pz_center .evaluate li .content {
  background: #fff!important;
}
section #main .pz_center .evaluate li .content img {
  height: 50em;
  margin-bottom: 1em;
}
body > .toTop {
  position: fixed;
  right: 14em;
  bottom: 2em;
  margin: auto;
  width: 4.5em;
  height: 4.5em;
  color: #fff;
  background: #353535;
  text-align: center;
  cursor: pointer;
  font: normal normal 12px/2em 'CN regular';
}
body > .toTop img {
  display: inline-block;
}
body > .toTop:hover {
  background: rgba(53, 53, 53, 0.5);
}
