section .banner {
  position: relative;
  overflow: hidden;
}
section .banner img {
  display: inline-block;
  width: 100%;
}
section .banner:before {
  content: '';
  position: absolute;
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  bottom: -2em;
  left: 0;
  right: 0;
  margin: auto;
  background-image: radial-gradient(10px, #ceceb8, #91b991, #e9e8dc);
  background-color: #f8f5f5;
}
section .banner:hover:before {
  background-image: radial-gradient(14px, #ceceb8, #91b991, #e9e8dc);
}
nav[aria-label] {
  text-align: center;
}
section .pz_center nav {
  overflow: hidden;
  position: relative;
}
section .pz_center .goto {
  line-height: 80px;
}
section .pz_center .goto input {
  display: inline-block;
  height: 2em;
  width: 3em;
}
section .pz_center .goto span {
  outline: 1px solid #c8c8c8;
  padding: .4em;
  cursor: pointer;
  margin-left: 2em;
}
